.fresh-table {
    .table {
        thead {
            th {
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                border-left: 1px solid black;
                border-right: 1px solid black;
            }
        }

        tbody {
            tr {
                td {
                    border-top: 1px solid black;
                    border-bottom: 1px solid black;
                    border-left: 1px solid black;
                    border-right: 1px solid black;
                }

                .img-post {
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                    height: 120px;
                    margin: 0 10px;
                    width: 80px;

                }

                .btn-action {

                    .btn-save {
                        color: #fff;
                        background-color: #f23e3e;
                        font-weight: 400;
                        height: 50px;
                        font-size: 14px;
                        border: none;
                        width: 100%;
                        border-radius: 40px;
                        text-transform: uppercase;
                        cursor: pointer;
                        text-align: center;

                        &:hover {
                            opacity: 0.9;
                        }

                        .title-save {
                            padding: 13px;
                        }
                    }

                    .btn-edit {
                        color: green;
                        font-weight: 400;
                        height: 50px;
                        font-size: 14px;
                        border: none;
                        width: 100%;
                        border-radius: 40px;
                        text-transform: uppercase;
                        cursor: pointer;
                        text-align: center;

                        &:hover {
                            opacity: 0.9;
                        }

                        .title-save {
                            padding: 13px;
                        }
                    }

                }


            }

        }
    }
}